---
layout: default
change_frequency: daily
priority: 1.0
title: Home
---

{% for page in paginator.posts %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.summary and site.summary %}
        {% capture content %}{{ page.summary }}{% endcapture %}
    {% else %}
        {% capture content %}{{ page.content }}{% endcapture %}
    {% endif %}
    {% include post.html %}
</article>
{% endfor %}
{% if paginator.previous_page or paginator.next_page %}
<nav itemscope itemtype="http://schema.org/WebPage">
    <ul class="pager clearfix" itemprop="breadcrumb">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            {% capture previousUrl %}{{ site.baseurl }}{% endcapture %}
        {% else %}
            {% capture previousUrl %}{{ site.baseurl }}/page{{ paginator.previous_page }}{% endcapture %}
        {% endif %}
        <li class="previous">
            <a rel="prev" href="{{ previousUrl }}/" itemprop="url">← Newer posts</a>
        </li>
    {% endif %}
    {% if paginator.next_page %}
        <li class="next">
            <a rel="next" href="/page{{ paginator.next_page }}/" itemprop="url">Older posts →</a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}